<div class="">
    <select name="selected_cycle" ng-model="cycle" id="preview_cycles" ng-change="update(cycle, location)"
            ng-options="option for option in cycles track by option"></select>
    <select name="selected_location" ng-model="location" id="preview_location"
            ng-change="update(cycle, location)"
            ng-options="option for option in locations track by option"></select>
    <div ng-repeat="group in groups">
        <h3>
            {{ group.name }}
        </h3>
        <table>
            <tr>
                <th>Formulation</th>
                <th ng-repeat="header in group.headers">{{ header }}</th>
            </tr>
            <tr ng-repeat="value in group.values">
                <td ng-repeat="item in value">{{ item }}</td>
            </tr>
        </table>
    </div>

</div>
