<div>
    <select name="selected_location" ng-model="location" id="preview_location"
            ng-change="update(location, cycle, tracer)"
            ng-options="option.name for option in locations track by option.name + option.district"></select>
    <select name="selected_cycle" ng-model="cycle" id="preview_cycles" ng-change="update(location, cycle, tracer)"
            ng-options="option for option in location.cycles track by option"></select>
    <select ng-show="definition.groups[0].model.hasTrace" name="selected_tracer" ng-model="tracer" id="preview_cycles" ng-change="update(location, cycle, tracer)"
            ng-options="tracer.name for tracer in definition.groups[0].model.tracingFormulations track by tracer.slug"></select>
    <div class="preview-groups-container">
        <div ng-repeat="group in groups" class="preview-group">
            <h3>
                {{ group.name }}
            </h3>
            <table>
                <tr>
                    <th>Formulation</th>
                    <th ng-repeat="header in group.headers track by $index">{{ header }}</th>
                </tr>
                <tr ng-repeat="value in group.values">
                    <td ng-repeat="item in value track by $index">{{ item }}</td>
                </tr>
            </table>

            <div ng-show="group.has_factors">
                <h3>
                    Calculated Values for {{ group.name }}
                </h3>
                <table>
                    <tr>
                        <th>Formulation</th>
                        <th ng-repeat="header in group.headers track by $index">{{ header }}</th>
                    </tr>
                    <tr ng-repeat="value in group.factored_values">
                        <td ng-repeat="item in value track by $index">{{ item }}</td>
                    </tr>
                </table>
            </div>
            <div class="">
                <h4>
                    {{ group.name }} {{ group.aggregation }} : {{ group.result }}
                </h4>
            </div>
        </div>
    </div>
    <div class="preview-groups-container"><h2>{{resultText}}</h2></div>
</div>
