<div class="edit-definition" ng-form name="cf">
    <div class="row">
        <div class="object-tools">
            <a href="#" ng-click="ctrl.addGroup()" class="addlink">
                Add Group
            </a>
        </div>
    </div>

    <div class="row-vertical group-container" ng-repeat="definitionGroup in ctrl.definition.groups">
        <div class="row with-space-between">
            <h3>{{ definitionGroup.name }}</h3>
            <div class="object-tools">
                <a href="#" ng-click="ctrl.removeGroup(definitionGroup)" class="deletelink">
                    Remove Group ({{ definitionGroup.name }})
                </a>
            </div>
        </div>
        <div class="group">
            <div class="group-control">
                <div class="group-text">
                    <label for="" class="text-center">FROM THE</label>
                </div>
                <select name="mods" class="form-control" ng-model="definitionGroup.model"
                        ng-change="ctrl.setFields($index, definitionGroup.model)" ng-required>
                    <option value="Adult Patient Records">Adult Patient Records</option>
                    <option value="Paed Patient Records">Paed Patient Records</option>
                    <option value="Consumption Records">Consumption Records</option>
                </select>
            </div>
            <div class="group-control">
                <div class="group-text">
                    <label for="" class="text-center">IN THE</label>
                </div>
                <select name="cycles" class="form-control" ng-model="definitionGroup.cycle" ng-required>
                    <option value="Current Cycle">Current Cycle</option>
                    <option value="Previous Cycle">Previous Cycle</option>
                    <option value="Next Cycle">Next Cycle</option>
                </select>
            </div>
            <div class="group-dynamic-control">
                <div class="group-text">
                    <label for="" class="text-center">FOR FIELDS</label>
                </div>
                <select selector multi="true" model="definitionGroup.selected_fields"
                        options="ctrl.fields[$index]"></select>

            </div>

            <div class="group-dynamic-control">
                <div class="group-text">
                    <label for="" class="text-center">IN FORMULATIONS</label>
                </div>
                <select selector multi="true" model="definitionGroup.selected_formulations"
                        options="ctrl.formulations"></select>
            </div>
        </div>
    </div>
    <div class="row-vertical" ng-show="ctrl.definition.groups.length > 0">
        <fieldset>
            <legend>Comparison</legend>

            <div class="row">
                <div>
                    <p>Valid Operators</p>
                    <span class="operator">&gt</span>,
                    <span class="operator">&lt</span>,
                    <span class="operator">&gt=</span>,
                    <span class="operator">&lt=</span>,
                    <span class="operator">==</span>,
                    <span class="operator">*</span>,
                    <span class="operator" ng-repeat="group in ctrl.definition.groups">{{ group.name }}</span>
                </div>
            </div>

            <div class="row comparison-container" >
                <input type="text" name="comparison" ng-pattern="ctrl.main_regex"
                       ng-model="definitionGroup.comparison"/>
                <label for="comparison" ng-show="cf.comparison.$invalid">Please Enter a valid comparison
                    expression</label>
                <div class="object-tools">
                    <a href="#" ng-show="definitionGroup.comparison" class="historyLink">Preview</a>
                </div>

            </div>
        </fieldset>
    </div>
    <div class="row">
        <textarea name="definition" hidden id="id_definition" cols="40" rows="10"
                  class="vLargeTextField">{{ ctrl.definition|json }}</textarea>
    </div>
</div>