<div class="edit-definition" ng-form name="cf">
    <div class="row">
        <h3>Test type</h3>
        <select name="test-type" id="test-type" required
                ng-change="ctrl.testTypeChanged(ctrl.definition.type)"
                ng-options="option.name for option in ctrl.testTypes track by option.id"
                ng-model="ctrl.definition.type"></select>
        <div class="object-tools">
            <a href="#" ng-click="ctrl.reset()" class="deletelink">
                Reset Groups
            </a>
        </div>
    </div>
    <div class="row">
        <h1>Groups</h1>
    </div>

    <div class="row-vertical group-container" ng-repeat="definitionGroup in ctrl.definition.groups">
        <div class="row with-space-between">
            <h3>{{ definitionGroup.name }}</h3>
        </div>
        <div class="group">
            <div class="group-control">
                <div class="group-text">
                    <label for="" class="text-center">Compute The</label>
                </div>
                <select name="aggregation" id="aggregation" required
                        ng-options="option.name for option in ctrl.definition.type.calculations track by option.id"
                        ng-model="definitionGroup.aggregation"></select>
            </div>
            <div class="group-control">
                <div class="group-text">
                    <label for="" class="text-center">FROM THE</label>
                </div>
                <select name="mods" id="mods-select" required
                        ng-options="model.name for model in ctrl.definition.type.models track by model.selectId"
                        ng-model="definitionGroup.model"></select>
            </div>
            <div class="group-control">
                <div class="group-text">
                    <label for="" class="text-center">IN THE</label>
                </div>
                <select name="cycles" id="cycles" required
                        ng-options="option.name for option in ctrl.definition.type.cycles track by option.id"
                        ng-model="definitionGroup.cycle"></select>
            </div>
            <div class="group-dynamic-control">
                <div class="group-text">
                    <label for="" class="text-center">FOR FIELDS</label>
                </div>
                <select selector multi="true" model="definitionGroup.selected_fields"
                        options="definitionGroup.model.fields"></select>
              

            </div>

            <div class="group-dynamic-control">
                <div class="group-text">
                    <label for="" class="text-center">IN FORMULATIONS</label>
                </div>
                <select ng-show="!definitionGroup.model.hasTrace" selector multi="true"
                        model="definitionGroup.selected_formulations"
                        options="definitionGroup.model.formulations"></select>
                <div ng-show="definitionGroup.model.hasTrace">
                    <div ng-repeat="trace in definitionGroup.model.tracingFormulations">
                        <h4>{{ trace.name }}</h4>
                        <p ng-repeat="formulation in trace.formulations">
                            {{ formulation }}
                        </p>
                    </div>
                </div>
                <div class="checkbox-row">
                    <input ng-model="definitionGroup.has_factors" id="id_is_advanced" name="is_advanced"
                           ng-change="ctrl.setMultiplicationFactors(definitionGroup.has_factors, definitionGroup)"
                           type="checkbox"><label
                        class="vCheckboxLabel" for="id_is_advanced">Include Multiplication Factors</label>
                </div>
                <div ng-show="definitionGroup.has_factors">
                    <h5>Multiplication Factors</h5>
                    <div class="factor-container" ng-repeat="value in definitionGroup.selected_formulations track by $index">
                        <span for="" class="factor-label">{{ value }}</span>
                        <strong class="factor-label">*</strong>
                        <input class="factor-input" ng-model="definitionGroup.factors[value]"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h1>Comparison</h1>
    </div>
    <div class="compgroup">
        <div class="group-dynamic-control">
            <select ng-model="ctrl.definition.operator" ng-options="option.name for option in ctrl.definition.type.comparisons track by option.id">
            </select>
        </div>
        <div class="group-control" ng-show="ctrl.definition.operator.id == 'LessThan'">
            <input type="number" ng-model="ctrl.definition.operatorConstant">
        </div>
        <div class="group-control">
            <div class="object-tools">
                <a href="#" ng-click="ctrl.previewDefinition(ctrl.definition)">
                    Preview
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <textarea hidden name="definition" id="id_definition" cols="40" rows="10"
                  class="vLargeTextField">{{ ctrl.definition|json }}</textarea>
    </div>
</div>