.tox/
asset_files/
tmp
.tmp
dashboard/static/vendor/
node_modules/
data/
.git/
.tox/
.tmp/
.ropeproject/
.vscode/
.idea/
Dockerfile
docker-compose.yml
__pycache__/
*.pyc
coverage/
**/__pycache__/
*.py[cod]
*$py.class
**/*.pyc
deploy_docs/
dashboard/static/dist