<div ng-controller="MainChecksController">
    <div class="col-md-3">
        <h5>Select Test to Display</h5>
        <select ng-model="selectedTest" id="" class="form-control">
            <option value="orderFormFreeOfGaps">Order Form Is Free of Gaps</option>
        </select>
    </div>
    <div class="col-md-9">
        <div class="page_graph">
            <h3 class="text-center">Order Form Is Free of Gaps</h3>
            <angular-chart options="options"></angular-chart>
        </div>
    </div>
    
</div>