<div ng-controller="GuidelineAdherenceController">
    <div class="col-md-3">
        <h5>Select National Guideline Type</h5>
        <select ng-model="guidelineType" id="" class="form-control">
            <option value="Adult 1L">Adult 1L</option>
            <option value="Adult 2L">Adult 2L</option>
            <option value="Paed 1L">Paed 1L</option>
        </select>
    </div>
    <div class="col-md-9">
        <div class="page_graph">
            <angular-chart options="options"></angular-chart>
        </div>
    </div>
    
</div>