<div class="row range_filter">
    <div class="col-md-12">
        <h3 for="">CYCLE RANGE</h3>
        <select name="cycle" class="form-control cycle-select" ng-model="startCycle"
            ng-options="cycle for cycle in cycles">
        </select>
    <div class="spacer">
        <h5 class="text-center"> - </h5>
    </div>
        <select name="cycle" class="form-control cycle-select" ng-model="endCycle" ng-options="cycle for cycle in endCycles">
        </select>
    </div>
        
</div>
<div class="row">

    <div class="col-md-12">
     <h3>KEY METRICS</h3>
        <div class="quality_test" ui-sref-active="quality_test_active">
            <a ui-sref="home.reportingRate">
                <span class="quality_test__metric">{{reportingRate}} %</span>
                <span class="quality_test__description">{{"Reporting Rate" | uppercase}}</span>
            </a>
        </div>
        <div class="quality_test" ui-sref-active="quality_test_active">
            <a ui-sref="home.webVsPaper">
                <span class="quality_test__metric">{{webRate}} %</span>
                <span class="quality_test__description">{{"Web VS Paper Reporting" | uppercase}}</span>
            </a>
        </div>
        <div class="quality_test" ui-sref-active="quality_test_active">
            <a ui-sref="home.guidlineAdherenceRate">
                <span class="quality_test__metric">{{adherenceRate }} %</span>
                <span class="quality_test__description">{{"GuideLine Adherence Rate" | uppercase}}</span>
            </a>
        </div>

        <div class="quality_test quality_test_add" ui-sref-active="quality_test_active">
            <a ui-sref="home.addTests">
                <span class="quality_test__metric glyphicon glyphicon-plus"></span>
                <span class="quality_test__description">CLICK TO SHOW MORE TESTS</span>
            </a>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-md-12">
        <div class="test-area clearfix">
            <div ui-view></div>
        </div>
    </div>
    
</div>
<div class="row ranking_lists">
    <div class="col-md-12">
        <h3>RANKINGS</h3>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span>Worst Performing</span>
                <div class="dropdown ranking-dropdown">
                    <a class="dropdown-toggle " data-toggle="dropdown"> {{worstPerforming}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li ng-repeat="level in rankingLevels"><a ng-click="selectWorst(level)">{{level}}</a></li>
                      
                    </ul>
                </div>

                <a class="pull-right label label-qdb" ng-click="downloadWorst()">CSV</a>
                
                </h3>
            </div>
        </div>
        <table class="table table-bordered" ng-table="worstTableParams">
            <tr>
                <th>{{worstPerforming}}</th>
                <th>Rate</th>
            </tr>
            <tr ng-repeat="district in $data">
                <td>{{district.name}}</td>
                <td>{{district.rate | number : 1}} %</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span>Best Performing</span>
                <div class="dropdown ranking-dropdown">
                    <a class="dropdown-toggle " data-toggle="dropdown"> {{bestPerforming}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                         <li ng-repeat="level in rankingLevels"><a ng-click="selectBest(level)">{{level}}</a></li>
                    </ul>
                   
                </div>  
                 <a class="pull-right label label-qdb" ng-click="downloadBest()">CSV</a>

                </h3>
            </div>
        </div>
        <table class="table table-bordered" ng-table="bestTableParams">
            <tr>
                <th> {{bestPerforming}} </th>
                <th>Percentage of</th>
            </tr>
            <tr ng-repeat="district in $data">
                <td>{{district.name}}</td>
                <td>{{district.rate | number : 1}} %

                </td>
            </tr>
        </table>
    </div>
</div>