<div class="row range_filter">
    <div class="col-md-12">
        <label for="">Cycle Range</label>
    </div>
    <div class="col-md-2">
        <select name="cycle" class="form-control" ng-model="startCycle"
            ng-options="cycle for cycle in cycles">
        </select>
    </div>
    <div class="col-md-1">
        <h5 class="text-center"> -- </h5>
    </div>
    <div class="col-md-2">
        <select name="cycle" class="form-control" ng-model="endCycle" ng-options="cycle for cycle in endCycles">
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="quality_test" ng-repeat="test in tests" ng-class="{'quality_test_active': test.name == currentTest}">
            <a ng-href="#/{{test.name}}">
                <span class="quality_test__metric">{{test.metric}}</span>
                <span class="quality_test__description">{{test.description}}</span>
            </a>
        </div>
        <div class="quality_test quality_test_add pull-right" ng-class="{'quality_test_active': currentTest == 'addTests'}">
            <a class="" href="#/addTests">
                <span class="quality_test__metric glyphicon glyphicon-plus"></span>
                <span class="quality_test__description">Click to show more tests</span>
            </a>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-md-12">
        <div class="test-area">
            <div ng-include="template">
            </div>
        </div>
    </div>
    
</div>
<div class="row ranking_lists">
    <div class="col-md-12">
        <h3>Ranking</h3>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Worst Performing
                <div class="dropdown ranking-dropdown">
                    <a class="dropdown-toggle " data-toggle="dropdown"> {{worstPerforming}}s <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="selectWorst('District')">Districts</a></li>
                        <li><a ng-click="selectWorst('Warehouse')">Warehouses</a></li>
                        <li><a ng-click="selectWorst('IP')">IP</a></li>
                    </ul>
                </div>

                <a class="pull-right label label-qdb" ng-click="downloadWorst()">CSV</a>
                
                </h3>
            </div>
        </div>
        <table class="table table-bordered">
            <tr>
                <th>{{worstPerforming}}</th>
                <th>Report Rate</th>
            </tr>
            <tr ng-repeat="district in worstDistricts">
                <td>{{district.name}}</td>
                <td>{{district.rate | number : 1}} %</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Best Performing
                <div class="dropdown ranking-dropdown">
                    <a class="dropdown-toggle " data-toggle="dropdown"> {{bestPerforming}}s <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="selectBest('District')">Districts</a></li>
                        <li><a ng-click="selectBest('Warehouse')">Warehouses</a></li>
                        <li><a ng-click="selectBest('IP')">IP</a></li>
                    </ul>
                   
                </div>  
                 <a class="pull-right label label-qdb" ng-click="downloadBest()">CSV</a>

                </h3>
            </div>
        </div>
        <table class="table table-bordered">
            <tr>
                <th> {{bestPerforming}} </th>
                <th>Report Rate</th>
            </tr>
            <tr ng-repeat="district in bestDistricts">
                <td>{{district.name}}</td>
                <td>{{district.rate | number : 1}} %</td>
            </tr>
        </table>
    </div>
</div>