@import "../vendor/bootstrap/less/bootstrap.less";
@import "../less/variables.less";

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

h1, h2 , h3 , h4 ,h5 , h6{
  letter-spacing: 1.5px;
}

.quality_test {
    .make-md-column(3);
    padding-top: 15px;
    padding-bottom: 15px;
    &__metric {
      display: block;
      font-size: 30px;
      color: #585858;
      margin: 0 auto 0 auto;
      .text-center();
      height: 40px;
    }

    &__description {
      font-size: 12px;
      letter-spacing: 1.5px;
      margin: 0 auto 0 auto;
      color: #585858;
      display: block;
      .text-center();
    }

    &_active {
        border-left: 1px solid @chai-word-green;
        border-top: 1px solid @chai-word-green;
        border-right: 1px solid @chai-word-green;
        border-bottom: 1px solid white;
        margin-bottom: -1px;
        color: @chai-word-green;
        z-index: 900;
        a {
          span {
            color: @chai-word-green;
          }
        }
    }
    a:hover {
        color: darken(@chai-word-green, 10%);
        text-decoration: none;
      span{
        text-decoration: none;
        color: darken(@chai-word-green, 10%);
      }
      
    }
    

}

.test-area{
    .make-md-column(12);
    border-left: 1px solid @chai-green;
    border-top: 1px solid @chai-green;
    border-right: 1px solid @chai-green;
    border-bottom: 1px solid @chai-green;
}

.test-area {
  .make-md-column(12);
}

.page_graph{
  .make-sm-column(6);
  .make-sm-column-offset(3);
  .make-md-column(8);
  .make-md-column-offset(2);
  .make-lg-column(10);
  .make-lg-column-offset(1);
}
.ranking_lists {
  margin-top: 20px;
}
.range_filter{
  margin-bottom: 20px;
}


select.form-control{
    border-radius: 0;
    -webkit-appearance: none;
}

.ranking-dropdown {
  display: inline-block;
}


a.label-qdb{
  border: 1px solid @chai-green;
  color: @chai-green;
  border-radius: 5px;
  &:hover {
    color: darken(@chai-word-green, 10%);
  }
}