<div class="edit-definition">
    <div class="row">
        <a href="#" ng-click="ctrl.addGroup()" class="addlink">
            Add Group
        </a>
    </div>

    <div class="row" ng-repeat="definitionGroup in ctrl.definition.groups">
        <div class="group">
            <div class="group-control">
                <div class="group-text">
                    <label for="" class="text-center">FROM THE</label>
                </div>
                <select class="form-control">
                    <option>Patient Records</option>
                    <option>Consumption Records</option>
                </select>
            </div>
            <div class="group-control">
                <div class="group-text">
                    <label for="" class="text-center">IN THE</label>
                </div>
                <select class="form-control">
                    <option>Current Cycle</option>
                    <option>Previous Cycle</option>
                    <option>Next Cycle</option>
                </select>
            </div>
            <div class="group-dynamic-control">
                <div class="group-text">
                    <label for="" class="text-center">FOR FIELDS</label>
                </div>
                <ui-select id="group-{{$index}}" multiple ng-model="definitionGroup.selected_consumption_fields" theme="selectize"
                    close-on-select="false" title="Select a field">
                    <ui-select-match placeholder="Select field">{{$item}}</ui-select-match>
                    <ui-select-choices position="down" repeat="value in ctrl.consumption_fields | filter:$select.search">
                        {{ value }}
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="group-dynamic-control">
                <div class="group-text">
                    <label for="" class="text-center">IN FORMULATIONS</label>
                </div>
                <ui-select multiple ng-model="definitionGroup.selected_formulations" theme="selectize" close-on-select="false"
                    title="Select a field">
                    <ui-select-match placeholder="Select formulations">{{$item}}</ui-select-match>
                    <ui-select-choices position="down" repeat="value in ctrl.formulations | filter:$select.search">
                        {{ value }}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

    </div>
</div>