<div class="edit-definition">
    <div class="row">
        <a href="#" ng-click="ctrl.addGroup()" class="addlink">
            Add Group
        </a>
    </div>

    <div class="row" ng-repeat="definitionGroup in ctrl.definition.groups">
        <div class="group">
            <div class="group-control">
                <div class="group-text">
                    <label for="" class="text-center">FROM THE</label>
                </div>
                <select name="mods" class="form-control" ng-model="definitionGroup.model">
                    <option value="Patient Records">Patient Records</option>
                    <option value="Consumption Records">Consumption Records</option>
                </select>
            </div>
            <div class="group-control">
                <div class="group-text">
                    <label for="" class="text-center">IN THE</label>
                </div>
                <select name="cycles" class="form-control" ng-model="definitionGroup.cycle">
                    <option value="Current Cycle">Current Cycle</option>
                    <option value="Previous Cycle">Previous Cycle</option>
                    <option value="Next Cycle">Next Cycle</option>
                </select>
            </div>
            <div class="group-dynamic-control">
                <div class="group-text">
                    <label for="" class="text-center">FOR FIELDS</label>
                </div>
                <select selector multi="true" model="definitionGroup.selected_consumption_fields" options="ctrl.consumption_fields"></select>

            </div>

            <div class="group-dynamic-control">
                <div class="group-text">
                    <label for="" class="text-center">IN FORMULATIONS</label>
                </div>
                <select selector multi="true" model="definitionGroup.selected_formulations" options="ctrl.formulations"></select>
            </div>
        </div>

    </div>
    <div class="row">
        <textarea name="definition" id="id_definition" cols="40" rows="10" class="vLargeTextField">{{ctrl.definition|json}}</textarea>
    </div>
</div>