{% extends "admin/base_site.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <h3>{{title}}</h3>
    </div>
    <div class="row">
        You can download the existing mapping <a href="/import/mapping/download/">here</a>
    </div>
    <div class="row">
        <form action="" method="post" class="form" enctype='multipart/form-data'>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit
        </form>
    </div>
</div>
{% endblock %}