{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-1 filter-title">
                <h5>FILTERS</h5>
            </div>
            <div class="col-md-12">
                <div id="tags">
                </div>
            </div>
        </div>
        <div class="row">
            <select name="district" id="district_select" class="filter" multiple="multiple">
                {% for district in districts %}
                    <option value="{{ district.district }}">{{ district.district }}</option>
                {% endfor %}
            </select>
            <select name="warehouse" id="warehouse_select" class="filter">
                <option value="">ALL WAREHOUSES</option>
                {% for warehouse in warehouses %}
                    <option value="{{ warehouse.warehouse }}">{{ warehouse.warehouse }}</option>
                {% endfor %}
            </select>
            <select name="ip" id="ip_select" class="filter">
                <option value="">ALL IPS</option>
                {% for ip in ips %}
                    <option value="{{ ip.ip }}">{{ ip.ip }}</option>
                {% endfor %}
            </select>
            <select name="cycle" id="cycle_select" class="filter">
                {% for cycle in cycles %}
                    <option value="{{ cycle.cycle }}">{{ cycle.cycle }}</option>
                {% endfor %}
            </select>
            <select name="formulation" id="formulation_select" class="filter">
                {% for formulation in formulations %}
                    <option value="{{ formulation }}">{{ formulation }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="row">
            <table class="table table-striped table-bordered" cellspacing="0" width="100%" id="score-tables">
                <thead>
                <tr>
                    <th>FACILITY</th>
                    <th>DISTRICT</th>
                    <th>WAREHOUSE</th>
                    <th>IP</th>
                    <th>REPORTING</th>
                    <th>WEB/PAPER</th>
                    <th>>1 Order</th>
                    <th>Blanks</th>
                    <th>Adult 1L</th>
                    <th>Adult 2L</th>
                    <th>Paed 1L</th>
                    <th>N. PAED NRTI</th>
                    <th>PAED NRTI</th>
                    <th>N. Adult NRTI</th>
                    <th>Adult NRTI</th>
                    <th>Patient Stability</th>
                    <th>Cons. & Patients</th>
                    <th>Fulfillment</th>
                    <th>Repeat Ord.</th>
                    <th>Open/ Close</th>
                    <th>Negatives</th>
                    <th>Cons. Stable</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="score_detail" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    </div>
    {% verbatim %}
    <script id="score_detail_template" type="text/x-jsrender">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="row text-center score-header">
                    <span class="score_detail_title">{{:result.test}} </span>
                </div>
                <div class="row section-seperator">
                    <div class="score-location-item">
                        <span class="text-up">{{:score.name}}</span>
                        <span class="text-down">FACILITY</span>
                    </div>
                    <div class="score-location-item">
                        <span class="text-up">{{:score.district}}</span>
                        <span class="text-down">DISTRICT</span>
                    </div>
                    <div class="score-location-item">
                        <span class="text-up">{{:score.warehouse}}</span>
                        <span class="text-down">WAREHOUSE</span>
                    </div>
                    <div class="score-location-item">
                        <span class="text-up">{{:score.ip}}</span>
                        <span class="text-down">IP</span>
                    </div>
                    <div class="score-location-item">
                        <span class="text-up">{{:score.cycle}}</span>
                        <span class="text-down">CYCLE</span>
                    </div>
                    {{if result.has_combination}}
                    <div class="score-location-item">
                        <span class="text-up">{{:combination}}</span>
                        <span class="text-down">FORMULATION</span>
                    </div>
                    {{/if}}
                    
                    <div class="score-location-item omega score-{{:result.result}}">
                        <span class="text-up">{{:result.result}}</span>
                        <span class="text-down">RESULT</span>
                    </div>
                </div>
                {{if data}}
                <div class="row text-center">
                    {{include data tmpl=data.template /}}
                </div>
                {{/if}}
                <div class="row">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>





    </script>
    <script id="orderFormFreeOfNegativeNumbers" type="text/x-jsrender">
    <span class="score_detail_data_title col-md-12">{{:main_title}}</span>
    {{for formulations}}
    <div class="col-md-offset-2 col-md-8">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{{:name}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {{for records}}
                <tr>
                    <td>{{:column}}</td>
                    <td>{{:value}}</td>
                </tr>
            {{/for}}
            </tbody>
        </table>
    </div>
    {{/for}}





    </script>
    <script id="consumptionAndPatients" type="text/x-jsrender">
    <span class="score_detail_data_title col-md-12">{{:main_title}}</span>
    <div class="col-md-6 text-left">
    <span class="inner-title">CONSUMPTION</span>
    {{for consumption}}

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{{:name}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {{for records}}
                <tr>
                    <td>{{:column}}</td>
                    <td>{{:value}}</td>
                </tr>
            {{/for}}
            </tbody>
        </table>
        {{/for}}
    </div>
    <div class="col-md-6 text-left">
    <span class="inner-title">PATIENTS</span>
    {{for patients}}

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{{:name}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {{for records}}
                <tr>
                    <td>{{:column}}</td>
                    <td>{{:value}}</td>
                </tr>
            {{/for}}
            </tbody>
        </table>
        {{/for}}
    </div>
    <div class="col-md-6 col-md-offset-6">
        <span class="inner-title">Conversion Ratio (packs per patient, bimonthly)</span>
        <table class="table table-striped table-bordered">
            <tbody>
            {{for packs}}
                <tr>
                    <td>{{:column}}</td>
                    <td>{{:value}}</td>
                </tr>
            {{/for}}
            </tbody>
        </table>
    </div>
    <div class="row">
    <div class="col-md-12 text-left"> <span class="inner-title">ESTIMATED CURRENT PATIENTS</span></div>
    <div class="col-md-6">

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>From Consumption Data</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        {{for consumption_totals}}
            <tr>
               {{if isHeader}}
                <th>{{:column}}</th>
                <th>{{:value}}</th>
                {{else}}
                <td>{{:column}}</td>
                <td>{{:value}}</td>
             {{/if}}
            </tr>
            {{/for}}
        </tbody>
    </table>
    </div>
    <div class="col-md-6">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>From Patient Data</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {{for patient_totals}}
            <tr>
              {{if isHeader}}
                <th>{{:column}}</th>
                <th>{{:value}}</th>
                {{else}}
                <td>{{:column}}</td>
                <td>{{:value}}</td>
             {{/if}}
            </tr>
            {{/for}}
        </tbody>
    </table>
    </div>
    </div>






    </script>

    <script id="differentOrdersOverTime" type="text/x-jsrender">
    <span class="score_detail_data_title col-md-12">{{:main_title}}</span>
    {{for previous_cycle}}
    <div class="col-md-6">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{{:cycle}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {{for rows}}
                <tr>
                   {{if isHeader}}
                <th>{{:column}}</th>
                <th>{{:value}}</th>
                {{else}}
                <td>{{:column}}</td>
                <td>{{:value}}</td>
             {{/if}}
                </tr>
            {{/for}}
            </tbody>
        </table>
    </div>
    {{/for}}
    {{for current_cycle}}
    <div class="col-md-6">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{{:cycle}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {{for rows}}
                <tr>
                    {{if isHeader}}
                <th>{{:column}}</th>
                <th>{{:value}}</th>
                {{else}}
                <td>{{:column}}</td>
                <td>{{:value}}</td>
             {{/if}}
                </tr>
            {{/for}}
            </tbody>
        </table>
    </div>
    {{/for}}


    </script>
    <script id="guidelineAdherence" type="text/x-jsrender">
    <span class="score_detail_data_title col-md-12">{{:main_title}}</span>
    <div class="col-md-6">
    {{props data_field_1}}
        <span class="inner-title">{{:key}}</span>
        <table class="table table-striped table-bordered">
            <tbody>
            {{for prop}}
                <tr>
                    <td>{{:column}}</td>
                    <td>{{:value}}</td>
                </tr>
            {{/for}}
            </tbody>
        </table>

    {{/props}}
    </div>
    <div class="col-md-6">
    {{props data_field_2}}
           <span class="inner-title">{{:key}}</span>
        <table class="table table-striped table-bordered">
            <tbody>
            {{for prop}}
                <tr>
                    <td>{{:column}}</td>
                    <td>{{:value}}</td>
                </tr>
            {{/for}}
            </tbody>
        </table>

    {{/props}}
    </div>

    </script>
    {% endverbatim %}
{% endblock content %}
{% block js %}
    <script type="text/javascript" src='{% static "vendor/select2/dist/js/select2.full.min.js" %}'></script>
    <script type="text/javascript" src='{% static "vendor/jsrender/jsrender.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/scores_table.js" %}'></script>

{% endblock js %}
